.button{
-fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
}

.backScoreByt{
  -fx-background-repeat: no-repeat;
    -fx-pref-tile-width: 80;
    -fx-pref-height: 80;
    -fx-background-image: url("../images/scoreScreenVeiws/if_back_32384.png") ;
}

.resetScoreByt{
-fx-background-repeat: no-repeat;
    -fx-pref-tile-width: 80;
    -fx-pref-height: 80;
    -fx-background-image: url("../images/scoreScreenVeiws/if_button_blue_repeat_40719.png");
}